# Source
https://www.kaggle.com/datasets/whenamancodes/students-performance-in-exams

In [1]:
# import libraries

import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
# import data
df = pd.read_csv('exams.csv')

# check data
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [3]:
# show a collumn chart of average scores by gender and exam type
# columns: gender	race/ethnicity	parental level of education	lunch	test preparation course	math score	reading score	writing score

# create a new dataframe with the average
df['avg_score'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)

# show a collumn chart of average score for gender and exam type
plt = df.groupby('gender')['math score', 'reading score', 'writing score', 'avg_score'].mean().plot(kind='bar')
plt.set_ylabel('Score')
plt.set_title('Average score')
# set the legend
plt.legend(['Math', 'Reading', 'Writing', 'Average'])
# show rounded labels above the bars
for p in plt.patches:
    plt.annotate(str(round(p.get_height(), 1)), (p.get_x() * 1.005, p.get_height() * 1.005))
# set y axis limit
plt.set_ylim(0, 100)

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.

In [ ]:
# show a collumn chart of average scores for each
# race/ethnicity and exam type
plt = df.groupby('race/ethnicity')